@import "fade-animation";

.slider {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
}

.slider_wrapper {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  overflow: hidden;
}

.slide {
  display: none;
}

.cover {
  object-fit: cover;
  width: 800px;
  height: 800px;
}

.is-visible {
  background: #0033;
  box-shadow: 0 0 8px 1px black;
  color: white;
  display: block;
}

h3 {
  margin: 0;
  padding: 0.8rem;
  font-size: 1.4rem;
}
